{% extends 'rzemieslnicy/base.html' %}

{% block content %}

    <div class="row">

        <div class="col s6">
            <h5>Twoje konto:</h5>
            <p>Nazwa użytkownika: {{ user.get_username }}</p>
            <p>Imie: {{ user.first_name }}</p>
            <p>Nazwisko: {{ user.last_name }}</p>
            {% if user.tradesman %}
                <p>NIP: {{ user.tradesman.NIP }}</p>
            {% endif %}
            <p>Data utworzenia konta: {{ user.date_joined }}</p>
        </div>

        <div class="col s6">
            {% if user.tradesman %}
                <h5>Twoje firmy:</h5>
                {% with companies=user.tradesman.company_set.all %}
                <div class="collection">
                    {% for company in companies %}
                        <a class="collection-item" href="{% url 'account_company' company.pk %}">{{ company.name }}</a>
                    {% endfor %}
                </div>
                <div class="right-align">
                    <a class="btn-floating btn waves-effect waves-light light-blue tooltipped" data-position="top"
                       data-delay="50" data-tooltip="Dodaj firmę" href="{% url 'create_company' %}">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                {% endwith %}
            {% endif %}
        </div>

    </div>

{% endblock content %}