{% extends 'rzemieslnicy/base.html' %}

{% block content %}

    <div class="row">

        <div class="col s6">
            <h5>{{ institution.name }}</h5>
            <p>Firma: {{ institution.company.name }}</p>
            <p>Zasięg: {{ institution.area.name }}</p>
            <p>Adres: {{ institution.address }}</p>
            <p>Miasto: {{ institution.city.name }}</p>
            <p>Kod pocztowy: {{ institution.postal_code }}</p>
            <p>Telefon: {{ institution.phone }}</p>
            <p>Email: {{ institution.email }}</p>
            <p>Strona WWW: <a href='{{ institution.site }}'>{{ institution.site }}</a></p>
            <p>Któtki opis: {{ institution.short_description }}</p>
            <p>Długi opis: <blockquote><pre>{{ institution.long_description }}</pre></blockquote></p>
        </div>

        <div class="col s6">
            <h5>Bonusy:</h5>
            <div class="collection">
                {% with services=institution.activeservice_set.all %}
                    {% for service in services %}
                        <a class="collection-item">{{ service.paid_service.name }} <br><i>Do końca: {{ service.days_to_end }}</i></a>
                    {%  endfor %}
                {% endwith %}
            </div>
            <div class="right-align">
                <a class="btn-floating btn-flat waves-effect waves-light light-blue tooltipped" data-position="top"
                   data-delay="50" data-tooltip="Kup bonus" href="{% url 'service_add' institution.company.id institution.id %}">
                        <i class="material-icons">add</i>
                </a>
            </div>
            <h5>Specjalność:</h5>
            {% with ins_crafts=institution.institutioncraft_set.all %}
                {% for ins_craft in ins_crafts %}
                    <div class="chip">
                        {{ ins_craft.craft.name }}
                    </div>
                {% endfor %}
            {% endwith %}
                <a class="btn-floating btn-flat waves-effect waves-light light-blue tooltipped align-right" data-position="top"
                   data-delay="50" data-tooltip="Dodaj specjalność" href="{% url 'crafts_edit' institution.company.id institution.id %}">
                    <i class="material-icons">add</i>
                </a>
        </div>

    </div>

{% endblock content %}