{% extends 'rzemieslnicy/base.html' %}

{% block content %}

    {% load staticfiles %}
    <script src="{% static 'js/display_rating.js' %}"></script>

    <h5>{{ institution.name }}</h5>
    <p>Firma: {{ institution.company.name }}</p>
    <p>Adres: {{ institution.address }}</p>
    <p>Miasto: {{ institution.city.name }}</p>
    <p>Kod pocztowy: {{ institution.postal_code }}</p>
    <p>Telefon: {{ institution.phone }}</p>
    <p>Email: {{ institution.email }}</p>
    <p>Strona WWW: <a href='{{ institution.site }}'>{{ institution.site }}</a></p>
    <p>Któtki opis: {{ institution.short_description }}</p>
    <p>Długi opis: <blockquote><pre>{{ institution.long_description }}</pre></blockquote></p>

    <br>
    <h5>Opinie:</h5>
    <br>

     Dodaj opinie   <a href="{% url 'opinion_create' institution.id %}" class="btn-floating btn waves-effect waves-light green">
                        <i class="material-icons">add</i>
                    </a>
                    <br><br>
    {% for opinion in institution.opinion_set.all %}
        {% if opinion.is_visible %}
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle green">comment</i>
                    <span class="title">
                        <div data-star-value="{{ opinion.rate }}" class="rating" id="rate_{{ opinion.id }}"></div>
                    </span>
                    <pre>{{ opinion.text }}</pre>
                    <span class="thin">Autor: {{ opinion.user.get_full_name }}</span>
                    <a href="{% url 'opinion_report' institution.id opinion.id %}" class="secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Zgłoś opinie">
                        <i class="material-icons">report</i>
                    </a>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

  <script>
        $(document).ready(function(){
            $('.rating').each(function(){
                $(this).addRating();
            })
        });
    </script>

{% endblock content %}
